body
{
    margin-left:20px;
    padding: 0;    
    background: rgb(28, 6, 124);
    font-family: sans-serif;
}
ul
{
    background: rgb(250, 250, 250);
    border-radius: 20px;
    overflow: auto;
    padding-right: 45px;
    box-sizing: border-box;
}
h1
{
    color: rgb(255, 255, 255);
    padding: 10px;
    text-align: center;
    border-radius: 0 20px 20px 20px;
    font-weight: bold;
    background: rgb(8, 102, 243);
    
}
h2
{
    font-weight: bold;
    background: rgb(90, 2, 141);
    color: white;
    padding: 20px;
}
h2:hover
{
    cursor: pointer;
    background: rgb(134, 3, 209);
}
div
{
    border-bottom: solid 1px rgb(158, 158, 158);
}
li
{
    position: relative;
    list-style: none;
    padding-bottom: 10px;
    margin: 0;
}
ul li ul li
{
   padding: 20px;
   font-size: 18px;
   font-weight: bold;
   border: 1px solid gray;
   margin: 10px;
   background: white;
}
.btn_enviarResposta
{
    float: right;
    width: 70px;
    height: 30px;
    margin-bottom: 10px;
    margin-top: 30px;
    border-radius: 0 0 0 10px;
    border: none;
    background: rgb(7, 184, 101);
    color: white;
    font-weight: bold;
}
.btn_enviarResposta:hover
{
    background: rgb(9, 230, 127);
    cursor: pointer;
}
.crud
{
    margin-top: 10px;
    border-bottom: none;
    padding-bottom: 15px;
}
i
{
    position: relative;
    bottom: 20px;
    float: right;
    padding: 10px;
    border: none;
}
i:hover
{
    cursor: pointer;
}
.del
{
    color: white;
    float: right;
    background: rgb(214, 14, 14);
    font-size: 30px;
    font-weight: bold;
    padding: 10px;
    box-shadow: 5px 5px 0px rgba(0, 0, 0, .6);
    border: none;
    margin-right: 5px;

}
.del:hover
{
    cursor: pointer;
    background: rgb(255, 0, 0)
}
.add
{
    position: relative;
    top: 10px;
    background: rgb(7, 184, 101);
    color: white;
    width: 60px;
    text-align: center;
    font-weight: bold;
    font-size: 45px;
    border-radius: 15px 0 15px;
    border: none;
    box-shadow: 5px 5px 0px rgba(0, 0, 0, .6);
    transition: .6s;
}
.add:hover
{
    cursor: pointer;
    transform: rotateX(360deg);
}
textarea
{
    width: 100%;
}

/*ul li ul li:nth-child(even)
{
    background: rgb(179, 178, 178);
    color: white;
}*/
spam
{
    background: rgb(2, 187, 2);
    border: 1 solid black;
    border-radius: 100%;
    color: rgb(255, 255, 255);
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: bold;
    bottom: 120px;
    right: 10px;
    position: relative;
    box-shadow: 5px 5px 0px rgba(0, 0, 0, .6);

}
#voltar
{
    float: right;
    padding-right: 20px;
    padding-left: 20px; 
    margin-left: 10px; 
    height: 57px;
    border-radius: 0 20px 20px 0 ;
    border: none;
    font-weight: bold;
    box-shadow: 5px 5px 0px rgba(0, 0, 0, .6);
    background: white;
}
#voltar:hover
{
    cursor: pointer;
    background: rgb(235, 235, 235);
    color: white;
}
.nomeDaPessoaQuePerguntou
{
    padding: 3px;
    margin-left: 20px;
    margin-bottom: 5px;
    font-size: 11px;
}
.pesquisa
{
    position: relative;
    float: right;
    text-align: center;
    border-radius: 20px;
    padding: 10px;
    border: 1px solid rgb(223, 222, 222);
    bottom: 37px;
}
#lupa
{
    position: relative;
    float: right;
    bottom: 35px;
}
