body
{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
section
{
    width: 100%;
    height: 100vh;
    background: url(projetosHtml/bg.jpg);
    background-size: cover;
}
.container
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 340px;
    text-align: center;
}
.login-form
{
   position: relative;
   box-sizing: border-box;
   padding: 60px 30px;
   transition: .5s;
   border-radius: 10%;
}
.login-form:hover
{
    background: rgba(5, 0, 0, 0.3);
    border-radius: 10%;
    box-shadow: 0 0 20px rgba(0, 0, 0, .2);
}
.login-form h1
{
    color: rgb(250, 250, 250);
    font-weight: bold;
    text-transform: uppercase;
    font-size: 30px;
    
}
.login-form input
{
    display: block;
    width: 100%;
    padding: 10px 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
    border-radius: 25px;
    outline: none;
    font-size: 14px;
    letter-spacing: 1px;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    border: none;    
}

.login-form input[type = "submit"]:hover
{
    background-color: rgb(255, 10, 92);
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: .3s;
}
.login-form a
{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}
.login-form a:hover
{
    color: rgb(255, 10, 92);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    transition: .5s;
}