body
{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url('bg.png');
    background-size: cover;
}
/*---------------------------------------------------------------------------*/
/*Estilo da caixa principal*/
.box
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    max-width: 400px;
    height: auto;
    background: rgba(0, 0, 0, .9);
    padding: 30px;
}
h1
{
    top: 50px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
input
{
    margin-bottom: 25px;
    border: none;
    width: 100%;
    padding: 8px;
    display: block;
    box-sizing: border-box;
}

input[type='submit']
{

    cursor: pointer;

}
input[type='submit']:hover
{
    background: rgb(49, 2, 136);
    color: wheat;
    transition: .3s;
    font-weight: bold;
}
/*---------------------------------------------------------------------------*/
/*Estilo do SideBar
.sideBar
{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0 , -50%);
    max-width: 100px;
    height: auto;
    background: rgba(0, 0, 0, .9);

}*/
button
{
    position: relative;
    float: right;
    cursor: pointer;
    padding: 10px;
    border: none;
    text-align: center;
    width: 80px ;
    display: block;
    margin-left: 1px;

}
button:hover
{
    background: rgb(49, 2, 136);
    color: wheat;
    transition: .3s;
    text-align: center;
}
/*---------------------------------------------------------------------------*/
/*Estilo do table.php*/
.container
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
}
table, th, td
{
    border: 2px solid gray;
    border-collapse: collapse;
    width: 100%;
}
td
{
    padding: 100px;
}
tr:nth-child(even)
{
    background: lightgray;
    color: white;
}
td:last-child
{
    text-align: center;
}
.btn_voltar
{
    display: block;
    color: white;
    margin-top: 40px;
    padding: 10px;
    background: rgb(49, 2, 136);
    border-radius: 10px;
}